.experience{
    display: flex;
    justify-content: space-evenly;
}

.card-title{
    text-align: center;
    font-size: 1.5rem;
}
span{
    text-align: center;
}

.sub-title{
    text-align: center;
}