:root {
    --main-bg-color: #d4d4d4;
    --text-color: #333;
}

.dark {
    --main-bg-color: #000000;
    --text-color: #fff;
}

.content {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 10px;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}