.panel {
    background-color: gray;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    max-height: 20rem;
    overflow: hidden; 
    flex-direction: row;
    
    
  }
  
  .panel-image {
    margin-right: 1.5rem;
    max-height: 10rem;
    max-width: 15rem;
    margin-left: 1.5rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 10px; 
  }
  
  .panel-title {
    grid-column: span 2; 
    text-align: center;
  }
  
  .timeline {
    grid-column: span 2;
    text-align: center;
  }

  .description {
    grid-column: span 12;
    text-align: center;
    margin-right: 1.5rem;

  }
  
