:root {
    --main-bg-color: #f0f0f0;
    --text-color: #333;
}

.dark {
    --main-bg-color: #333;
    --text-color: #fff;
}

header {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 1em;
    padding-left: 2em;
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 2fr 1.5fr 0.5fr;
   
}

.logo-text{
    text-align: left;
    font-size: 2rem;
    margin-top: 0;
    
    
}


.menu-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-list__hidden {
    display: flex;
}

.menu-button {
    display: none;
}

li{
    
    text-decoration: none;
}



.underline-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

  .underline-link:hover {
    color: rgb(255, 204, 0); 
}
  
  .underline-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 204, 0);
  }
  
a {
    text-decoration: none;
    color: #fff;
  }


.toggle{
    max-height: fit-content;
    height: 50px;
    width: 50px;
    
}






@media (max-width: 44rem) {
    
    li{
        background-color: gray;
        text-decoration: none;
        list-style-type: none;
    }

   
   

    .menu-list.menu-list__hidden {
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    .menu-list {
        display: block;
        background-color: gray;
        background-color: #171717;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        /* z-index: 1; */
        /* margin-top: 0; */
        top: 25%;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        border-radius: 5px;
        width: max-content;
        position: relative;
    }

   
    .menu-button {
        position: absolute;
        color: black;
        padding: 1rem 2rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 5px;
        display: block;
        transition: background-color 0.3s ease;
    } 

    .menu-button:hover{
        background-color: #999;
    }

    .menu-button:disabled {
        background-color: #ccc;
        color: #999; 
        cursor: not-allowed;
      }
      
      .menu-button:active,.menu-button:focus {
        outline: none; 
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
      }

} 

