.card{
    display: flex;
    flex-direction: column;
    border: 0.5 rem solid black;
    border-radius: 1rem;
    background-color:gray;
    text-align: left;
    width: 30%;
    height: max-content;
    padding: 1rem;
}